<h3 class="color-title-vote-modal h3-vote-modal">Gracias por votar</h3>
<div id="poll-information">
  <div class="header-poll-information">
    <p class="p-modal-vote">CONSTANCIA DE VOTO</p>
    <% if Setting['enable_participatory_budget'] == "true" %>
      <p class="p-modal-vote">
        Presupuesto Participativo
      </p>
    <% end %>
    <p class="p-modal-vote">
      <%= poll.name %>
    </p>
  </div>
  <div class="token-poll">
    <%= link_to 'Ver constancia de votación',
      user_path(current_user, is_poll: true),
      class: "button float-center button-vote-modal modal-vote-header button-show-vote" %>
  </div>
</div>
<p class="text-align-justify">
  Esta es tu constancia de voto, guárdala para futuros controles.
  También te enviaremos un email a <%= current_user.blank? ? '' : current_user.email %>
  con la constancia.
</p><br>
<%= link_to 'Entiendo',
  poll_path(poll),
  class: "close-modal-vote button float-center button-vote-modal modal-vote-header button-show-vote" %>
