<div id="tag-cloud">
  <section class="tag-cloud-section margin-bottom">
    <h5 class="tag-cloud-title margin-top"><%= t("shared.tags_cloud.categories").upcase %></h5>
    <div class="tag-cloud margin-bottom">
      <% @categories.each do |category| %>
        <%= link_to category.name, proposals_path(search: category.name), class:"tag-cloud-individual-tag category-tag" %>
      <% end %>
    </div>
  </section>
</div>
