<h5 class="tag-cloud-title margin-top">AYUDA SOBRE LAS IDEAS</h5>
<div>
  <ol>
    <li>
      Si es la primera vez que entrás, tenés que darte de alta. Podés hacerlo por Facebook, Twitter, o Google +, o por Usuario gub.uy.
    </li>
    <li>
      Asegurate que la idea que vas a proponer no está repetida. Es importante poder co crear y sumarte a ideas similares antes de crear una nueva.
    </li>
    <li>
      Hacé un borrador de tu idea y pensá en todos los aspectos del problema y la solución que querés proponer.
    </li>
    <li>
      No escribas todo en mayúsculas ya que pueden ser interpretado como imposición o grito. La escritura debe ser clara y concisa para facilitar la comprensión.
    </li>
    <li>
      Compartí la idea en redes sociales como Facebook, Twitter o Instagram, entre otras, son un buen altavoz para llegar a más personas.
    </li>
    <li>
      Si tu propuesta es de medio ambiente o derechos sociales, por ejemplo, busca colectivos y personas clave que trabajen en esa materia para darles a conocer tu idea.
    </li>
  </ol>
  <div class="more-proposal-info-container">
    <%= link_to "MÁS INFORMACIÓN", "https://decide.montevideo.gub.uy/ayudasobrelasideas", class: "button" %>
  </div>
</div>
