<td style="padding-bottom: 20px; padding-left: 10px;">
  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    Participaste de la votación <strong><%= @poll.name %></strong> de Montevideo Decide. Puedes guardar este mail como constancia de voto.
  </p>
  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    El token de tu voto realizado es: <strong><%= @token %></strong>.
  </p>
</td>
