<div>
  <%= image_tag attachments['header_welcome_email.png'].url,  style: "width: 97%;" %>
  <p style="padding-top:20px; font-size: 14px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal;">
    ¡Bienvenido/a!
  </p>
  <p style="padding-top:5px; font-size: 13px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal; vertical-align: baseline;">
    Gracias por registrarte en Montevideo Decide.<br>
    Te ofrecemos un espacio de participación ciudadana donde podrás proponer y apoyar ideas, participar en debates y decidir sobre temas que te interesen sobre la ciudad.
  </p>
  <p style="padding-top:5px; font-size: 13px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal; vertical-align: baseline;">
    Entre todos y todas construyendo la ciudad que queremos.
  </p>
  <%= image_tag attachments['signature_email.gif'].url %>
  <pre style="font-size: 9px;">
  Asesoría de Desarrollo
  Municipal y Participación.
  Tel. 1950 int. 3122
  Piso 2. Puerta 2042.
  </pre>
</div>
