<div>
  <%= image_tag attachments['header_welcome_email.png'].url,  style: "width: 97%;" %>
  <p style="padding-top:20px; font-size: 14px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal;">
    ¡Hola!
  </p>
  <p style="padding-top:5px; font-size: 13px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal; vertical-align: baseline;">
    Te recordamos que durante el mes de agosto estaremos realizando los estudios de viabilidad de las ideas 2019 que alcanzaron los 500 apoyos.
  </p>
  <p style="padding-top:5px; font-size: 13px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal; vertical-align: baseline;">
    Del 1ero al 30 de setiembre podrás participar de la votación de aquellas ideas que resulten viables.
  </p>
  <p style="padding-top:5px; font-size: 13px; font-family: Arial; color: #000000; font-weight: 400; font-style: normal;">
    Si querés mantenerte al tanto de los temas que más te interesan <strong>ingresá al formulario debajo</strong> o seguinos por nuestras redes sociales
  </p>
  <p style="padding-top:25px;">
    <%= link_to t("Ingresá aquí"), "http://www.montevideo.gub.uy/formularios/suscripcion-a-novedades-de-montevideo-decide", style: "color: white; text-decoration:none; background-color: #f9bd41; padding: 15px 60px; font-size: 18px;" %>
  </p>
  <p style="padding-top:25px; font-size: 11pt; font-family: Arial; color: #000000; font-weight: bold; font-style: italic; font-variant: normal; text-decoration: none; vertical-align: baseline;">
    Construí la ciudad en la que querés vivir.
  </p>
  <%= image_tag attachments['signature_email.gif'].url %>
  <pre style="font-size: 9px;">
  Asesoría de Desarrollo
  Municipal y Participación.
  Tel. 1950 int. 3122
  Piso 2. Puerta 2042.
  </pre>
</div>
