<section class="tag-cloud-section margin-bottom categories-badges">
  <h5 class="tag-cloud-title margin-top"><%= t("shared.tags_cloud.tags").upcase %></h5>
  <div class="tag-cloud margin-bottom">
    <% Proposal.first.tags.each do |tag| %>
      <%= link_to taggables_path(taggable, tag.name), class:"tag-cloud-individual-tag category-tag" do %>
        <span><%= tag.name %></span>
      <% end %>
    <% end %>
  </div>
</section>
