default: &default
  secret_key_base: "f797fa56082afde35ff50d157ec08d3157cee32684d5fc33acec6ff2cfb6bacccced9f598332b67da83c8dfeca7282ac825b9ee5719f37b82bb612868023f418"

development:
  <<: *default
  facebook_key: "961929197291625"
  facebook_secret: "728c83a0578e8a6bde1363f8289972ee"
  twitter_key: "5SJdU2GfTcv6fye0dDq7kuKMA"
  twitter_secret: "NLFEMmK2xPJ6E7vnzoxKdmIETQgreasA9BlpmPNM8MDNOltzii"
  google_oauth2_key: "250902047451-ihfsrcfisoocmt3k5uheid5t2u4nonv2.apps.googleusercontent.com"
  google_oauth2_secret: "_RUJE1e6MUoLPkIUKLs35_-P"

test:
  <<: *default

staging:
  server_name: ""
  <<: *default

production: &production
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

  census_api_end_point: ""
  census_api_institution_code: ""
  census_api_portal_name: ""
  census_api_user_code: ""

  sms_end_point:  ""
  sms_username: ""
  sms_password: ""

  http_basic_username: ""
  http_basic_password: ""

  twitter_key: ""
  twitter_secret: ""
  facebook_key: ""
  facebook_secret: ""
  google_oauth2_key: ""
  google_oauth2_secret: ""

  rollbar_server_token: ""
  server_name: ""

preproduction:
  server_name: ""
  <<: *production
