<h2 class="inline-block">Usuarios</h2>

<% if newsletter_users.any? %>
  <table id="newsletters">
    <thead>
      <tr>
        <th>Email</th>
        <th>Entregado</th>
        <th>Fecha de entrega</th>
        <th class="small-5 text-right">Acciones</th>
      </tr>
    </thead>
    <tbody>
    <% newsletter_users.order(created_at: :asc).each do |newsletter_user| %>
      <tr >
        <td>
          <%= newsletter_user.user.email %>
        </td>
        <td>
          <%= newsletter_user.delivery %>
        </td>
        <td>
          <%= newsletter_user.delivery_at %>
        </td>
         <td class="text-right">
          <% unless newsletter_user.delivery %>
            <%= link_to "Quitar",
                        remove_email_admin_newsletter_url(@newsletter.id, newsletter_user: newsletter_user.id),
                        method: :get,
                        "data-alert": "Seguro quiere eliminar el email #{newsletter_user.user.email}",
                        class: "button hollow js-delete-newsletter-alert" %>
          <% end %>
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div data-alert class="callout primary margin-top clear">
    No hay usuarios asignados a este newsletter
  </div>
<% end %>
