<section class="tag-cloud-section margin-bottom categories-badges">
  <h3 class="tag-cloud-title margin-top">CATEGORÍAS</h3>
  <div class="tag-cloud margin-bottom">
    <% format_categories(true).each do |cat| %>
      <a href="#" class="tag-cloud-individual-tag category-tag">
        <%= cat %>
      </a>
    <% end %>
  </div>
</section>
