<div class="box ">
   <%= image_tag(image_path_for('banner-EC.png'), class: 'float-center margin-bottom banner-img', width: '100%', alt: t("layouts.header.logo")) %>
</div>
<div class="column">
  <div class="column medium-12 margin">
    <div class="column medium-4 color-base">
      <h3>Enlaces</h3>
      <hr>
      <%= image_tag(image_path_for('enlace.png'), class: 'float-center', width: '100%', alt: t("layouts.header.logo")) %>
    </div>
    <div class="column medium-4 color-base">
      <h3>Voluntariado</h3>
      <hr>
      <%= image_tag(image_path_for('voluntariado.png'), class: 'float-center', width: '100%', alt: t("layouts.header.logo")) %>
    </div>
    <div class="column medium-4 color-base">
      <h3>Montevideo Lab</h3>
      <hr>
      <%= image_tag(image_path_for('mont-lab.png'), class: 'float-center', width: '100%', alt: t("layouts.header.logo")) %>
    </div>
  </div>
</div>
