<div class="box">
   <%= image_tag(image_path_for('banner-ideas.png'), class: 'float-center margin-bottom banner-img', width: '100%', alt: t("layouts.header.logo")) %>
</div>
<div class="column box-text">
  <p> <%= image_tag(image_path_for('hand-4.png'), class: ' float-left hide-for-small-only', size: '100x100', alt: t("layouts.header.logo")) %> </p>
  <h2 class="banner-title hide-for-small-only">Ideas</h2>
  <p class="banner-font medium-9 show-for-large-only">Montecideo necesita tu aporte para crecer. Por eso te invitamos a que te sumes a los debates sobre los temas que mas te preocupan, propongas ideas para mejorar la calidad de vida de todos y todas, y decidamos en conjunto cuales se llevan a cabo.</p>
</div>
<div class="medium-8 column  margin-left-30">
   <p>La ciudad necesita de los aportes ciudadanos para crecer. Si tenes una idea para mejorar Montevideo podés plantearla para que la Intendencia la lleve a cabo.</p>
   <p>Para ingresar una propuesta y darle apoyo, debes de registrarte como usuario AGESIC.</p>
   <br>
   <a href="">Registrate en AGESIC</a>
</div>
