<div class="box ">
   <%= image_tag(image_path_for('banner-ideas.png'), class: 'float-center margin-bottom banner-img', width: '100%', alt: t("layouts.header.logo")) %>
</div>
<div class="column box-text">
  <p> <%= image_tag(image_path_for('hand-4.png'), class: ' float-left hide-for-small-only', size: '100x100', alt: t("layouts.header.logo")) %> </p>
  <h2 class="banner-title hide-for-small-only">Presupuesto Participativo</h2>
  <p class="banner-font medium-9 show-for-large-only">Proceso de diálogo democrático que se establece entre la Intendencia, vecinos y vecinas, organizaciones e instituciones sociales.</p>
</div>
<div class="medium-8 column">
  <p>Programa departamental que se desarrolla e implementa a nivel local en los ocho municipios montevideanos.</p>
  <p>Es una herramienta de participación democrática del proceso de descentralización con participación social, cuya construcción comenzó en 1990. Asegura a las y los habitantes de Montevideo el derecho de participación universal para deliberar, proponer y decidir sobre el uso de una parte de los recursos presupuestales de la comuna, determinando la realización de obras de su directo interés. En él se crean también procedimientos y oportunidades para que la ciudadanía y sus organizaciones puedan realizar un mejor seguimiento y control social de la gestión de la Intendencia.</p>

  <p>Conocé más del <%= link_to 'Presupuesto Participativo', 'http://presupuestoparticipativo.montevideo.gub.uy/', target: '_blank'%></p>
  <br>
</div>
