// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
@import 'custom_carousel';
@import 'custom_fonts';
@import 'custom_general';
@import 'custom_media';

.button-vote {
  background-color: #5ce0b2;
  text-align: center;
  min-width: 100%;
  padding: 15px
}

.link-vote-up {
  color: white;
  border: white;
  border-style: solid;
  padding: 2px 30px;
  font-size: 14px;
  font-weight: 700;
}

a.link-vote-up:hover {
  color: white;
  text-decoration: unset;
}

a.link-vote-up:focus {
  color: white;
  text-decoration: unset;
}

.link-clean-poll {
  float: right;
  margin-top: 20px;
  color: black;
}

.modal-poll-size {
  width: 40%;
}

.color-title-vote-modal {
  color: #58595b;
}

.list-selected-vote {
  border: groove;
  color: #f9bd41;
  padding: 20px;
  font-weight: 700;
  margin-bottom: 10px
}

.padding-top-5 {
  padding-top: 5px;
  text-align: justify;
}

.button-vote-modal {
  padding: 8px;
  width: 100%;
  font-weight: 800;
  margin-bottom: 10px
}

.margin-top-30{
  margin-top: 30px;
}

.modal-vote-header {
  background: #5ce0b2;
}

#poll-information {
  border: #5ce0b2;
  border-style: solid;
  margin-bottom: 20px;
}

.header-poll-information {
  background-color: #5ce0b2;
  text-align: center;
  color: white;
}

.h3-vote-modal {
  letter-spacing: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.token-poll {
  word-wrap: break-word;
  padding: 20px;
}

.p-modal-vote {
  margin-bottom: 0;
  font-weight: 700;
}

.modal-show-vote-size {
  width: 35%;
}

.padding-content-show-vote {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 55px;
  padding-top: 40px;
}

.text-align-justify {
  text-align: justify;
}

a.button-show-vote:hover {
  background: #5ce0b2 !important;
}

a.button-show-vote:focus {
  background: #5ce0b2 !important;
}

.padding-top-15 {
  padding-top: 15px;
}

.poll-question-answers .button.answered {
  background: #5ce0b2;
  border: 4px solid #54cda3;
}

.poll-question-answers .button.answered::after {
  background: #54cda3;
  right: -10px;
  top: -10px;
}

span.answered:hover {
  background: #5ce0b2 !important;
}

td {
  border-right: none;
}

table tr td {
  text-align: left;
  padding: 0.4rem 0.375rem;
}

table {
  border-right: none;
}

a.disabled.js-question-answer {
  pointer-events: none;
}

.button.hollow.download-poll:focus {
  background-color: #f9bd41;
}

.text-span-not-allowed {
  padding-bottom: 20px;
  padding-top: 20px;
  color: #58595b;
  font-weight: 700;
}

.participation-not-allowed.poll-span-not-allowed {
  background: #fcd07b;
}

.size-span-poll {
  width: 80%;
  display: inline-block;
}

a.button-span-not-allowed-poll {
  background-color: white;
  text-decoration: none;
  color: #f9bd41 !important;
  padding: 8px;
  width: 80%;
}

a.button-span-not-allowed-poll:hover {
  background-color: white !important;
}

.text-can-not-vote-modal {
  border: #6d6e71;
  border-style: solid;
  padding: 20px;
  text-align: center;
  color: #f9bd41;
  font-weight: 700;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-30 {
  padding-bottom: 30px;
  padding-top: 30px;
}

.padding-40 {
  padding: 40px;
}

.text-align-center {
  text-align: center;
}

.custom-social-networks {
  width: 22%;
  padding: 0;
}

.admin_answer_images{
  margin: 0;
  margin-top: 10px;
}

.margin-top-delete-img{
  margin-top: 10%;
}

.text-left {
  text-align: left;
}
