// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
@import 'custom_carousel';
@import 'custom_fonts';
@import 'custom_general';
@import 'custom_media';

.button-vote {
  background-color: green;
  text-align: center;
  min-width: 100%;
}

.link-vote-up {
  color: white;
}

.link-clean-poll {
  float: right;
  margin-top: 20px;
  color: black;
}

.modal-poll-size {
  width: 40%;
}

.color-title-vote-modal {
  color: #58595b;
}

.list-selected-vote {
  border: groove;
  color: #f9bd41;
  padding: 20px;
  font-weight: 700;
  margin-bottom: 10px
}

.padding-top-5 {
  padding-top: 5px;
  text-align: justify;
}

.button-vote-modal {
  padding: 8px;
  width: 100%;
  font-weight: 800;
  margin-bottom: 10px
}

.margin-top-30{
  margin-top: 30px;
}
