// media
@media (min-width: 1700px) and (max-width: 10025px) {

  .row-for-banners{
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
  }
  .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
      float: left;
  }

  .margin-left-40{
    margin-left: 105px;
  }

  .inline-h-0{
    line-height: 0 !important;
  }

  .border-green{
    border: 2px solid #51cf91;
    border-right: 0px;
    color: #51cf91;
    padding: 10px;
    width: 330px;
    position: absolute;
  }

  .border-pink{
    border: 2px solid #f88fc2;
    border-right: 0px;
    color: #f88fc2;
    padding: 10px;
    width: 330px;
    position: absolute;
    margin-bottom: 0px;
  }

  .border-red{
    border: 2px solid #f46a7a;
    border-right: 0px;
    color: #f46a7a;
    padding: 10px;
    width: 330px;
    position: absolute;
    margin-bottom: 20px;
  }

  .border-yellow{
    border: 2px solid #fabf40;
    border-right: 0px;
    color: #fabf40;
    padding: 10px;
    width: 330px;
    position: absolute;
    margin-bottom: 20px;
  }

}

@media (min-width: 100px) and (max-width: 1550px) {

  .margin-left-40{
    margin-left: 105px;
  }

 .row-for-banners{
   width: 100%;
 }

  .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
  }

  .inline-h-0{
    line-height: 0 !important;
  }


}

@media (min-width: 1026px) and (max-width: 1325px) {
  .search-nav{
  }

  .margin-left-30{
    margin-left: 55px;
  }

  .search-glass{
    margin-left: 0px;
  }

.subnavigation ul li {
  margin-right: 1.45rem;
}

  .border-green{
    border: 2px solid #51cf91;
    border-right: 0px;
    color: #51cf91;
    padding: 10px;
    width: 26%;
    position: absolute;
  }

  .border-pink{
    border: 2px solid #f88fc2;
    border-right: 0px;
    color: #f88fc2;
    padding: 10px;
    width: 26%;
    position: absolute;
    margin-bottom: 0px;
  }

  .border-red{
    border: 2px solid #f46a7a;
    border-right: 0px;
    color: #f46a7a;
    padding: 10px;
    width: 26%;
    position: absolute;
    margin-bottom: 20px;
  }

  .border-yellow{
    border: 2px solid #fabf40;
    border-right: 0px;
    color: #fabf40;
    padding: 10px;
    width: 26%;
    position: absolute;
    margin-bottom: 20px;
  }

}

@media (min-width: 100px) and (max-width: 1025px) {

  .title-login-options {
    padding-left: 10px;
  }

  .box-text {
    top: 40%;
  }

  .inline-h-0{
    line-height: 0 !important;
  }


  .subnavigation ul li {
    display: inline-block;
    margin-right: 1.25rem;
  }

  .margin-left-30{
    margin-left: 35px;
  }

  .search-nav{
  }

  .banner-font{
    font-size: 13px;
    line-height: 60px;
    padding: 5px 25px;
  }

  p .banner-font {
    margin-bottom: 0rem;
  }

  .banner-title{
    font-size: 25px;
  }

  .banner-title{
    font-size: 34px;
  }

  .size-resp{
    min-height: 65px;
  }

  .go-bot{
    position: relative;
  }

  .h1-wellcome{
    font-size: 30px;
  }

  .p-wellcome{
    font-size: 18px;
    line-height: 1.625rem;
  }

  .border-green{
    border: 2px solid #51cf91;
    border-right: 0px;
    color: #51cf91;
    padding: 10px;
    width: 28%;
    position: absolute;
  }

  .ball-green{
    border: 2px solid #51cf91;
    background-color: #51cf91;
    color: #51cf91;
    padding: 27px;
    border-radius: 45px;
    top: 0px;
    right: 38px;
    position: relative;
    z-index: 1000;
  }

  .border-pink{
    border: 2px solid #f88fc2;
    border-right: 0px;
    color: #f88fc2;
    padding: 10px;
    width: 28%;
    position: absolute;
    margin-bottom: 0px;
  }

  .ball-pink{
    border: 2px solid #f88fc2;
    background-color: #f88fc2;
    color: #f88fc2;
    padding: 27px;
    border-radius: 45px;
    top: 0px;
    right: 38px;
    position: relative;
    z-index: 1000;
  }

  .border-red{
    border: 2px solid #f46a7a;
    border-right: 0px;
    color: #f46a7a;
    padding: 10px;
    width: 28%;
    position: absolute;
    margin-bottom: 20px;
  }

  .ball-red{
    border: 2px solid #f46a7a;
    background-color: #f46a7a;
    color: #f46a7a;
    padding: 27px;
    border-radius: 45px;
    top: 0px;
    right: 38px;
    position: relative;
    z-index: 1000;
  }

  .border-yellow{
    border: 2px solid #fabf40;
    border-right: 0px;
    color: #fabf40;
    padding: 10px;
    width: 28%;
    position: absolute;
    margin-bottom: 20px;
  }

  .ball-yellow{
    border: 2px solid #fabf40;
    background-color: #fabf40;
    color: #fabf40;
    padding: 27px;
    border-radius: 45px;
    top: 0px;
    right: 38px;
    position: relative;
    z-index: 1000;
  }

  .div-border{
    border-right: 3px solid #000;height:380px;
    position: relative;
    top: -430px;
    z-index: 10;
    left: -79px;
  }

  .margin-top-50{
    margin-top: 20px;
  }
}

@media (min-width: 860px) and (max-width: 1020px) {
  .bottom-right-triangle {
    border-width: 0px 0 45px 141px !important;
  }
}

@media (min-width: 841px) and (max-width: 860px) {

  .title-login-options {
    padding-left: 10px;
  }

  #nav-bar-flex{
    display: grid;
  }

  #barra_vertical-r {
    margin-left: 10px;
    margin-right: 10px;
    border-left: 1px solid #fff;
    float:left;
    width:1px;
    height:100px;
  }

  .medium-footer {
    width: 33%;
  }

  .inline-h-0{
    line-height: 0 !important;
  }

}

@media (min-width: 100px) and (max-width: 840px) {
  .jumbo {
    margin-top: 1px;
  }

  #proposals-list .proposal .div-votes .proposal-approve{
    min-height: 14.3rem;
  }

  .w-div {
    display: none;
  }

  .title-login-options {
    padding-left: 10px;
  }

  .margin-left-20-lg{
    margin-left: 0px;
  }

  .margin-left-40{
    margin-left:120px;
  }

  .box-text {
    top: 15%;
  }

  .iframe-size{
    width: 90%;
  }

  .iduru{
    position: absolute;
    margin-top: -21px;
    width: 18%;
    padding-right: 10px;
  }

  .inline-h-0{
    line-height: 0.6 !important;
  }

  .margin-left-form {
    margin-left: 35%;
    display: inline-block;
  }


  .banner-title{
    margin-top: 5%;
  }

  .no-bullet{
    margin-top: 45px;
  }

  header {
    background: #f9bd41;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 0rem;
  }
  .search-glass{
    margin-top: 0px;
  }

  .notice-container {
    z-index: 1;
    right: 0px;
    top: 46px;
    width: 100%;
  }

  .margin-left-30{
    margin-left: 25px;
  }

  .menu{
    padding-right: 0px;
  }

  .input-group {
    display: block;
  }

  .small-search{
    width: 95%;
  }

  .nav-fix{
    height: 44px;
  }

  .search-nav {
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
  }

  .search-form-header [type=text] {
    padding-top: 19px !important;
  }

  .debate .votes{
    border-top: 1px solid #dee0e3;
  }

  .total-votes{
    margin-top: 4%;
    margin-right: 10%;
    float: right !important;
    padding: 5px 25px;
    line-height: 2rem !important;
  }

  .subnavigation a.active {
    border-bottom: 2px solid #00b4d2;
    color: #00b4d2;
  }

  .subnavigation a {
    color: #000;
  }

  #nav-bar-flex{
    display: grid;
  }

  .medium-footer-div {
    width: 100%;
  }

  .medium-footer-img {
    width: 100%;
  }

  .medium-center {
    margin-left: 28%;
  }


  .banner-font{
    font-size: 15px;
    line-height: 1.625rem;
  }
  .h1-wellcome{
    font-size: 30px;
  }

  .p-wellcome{
    font-size: 18px;
    line-height: 1.325rem;
  }
  .box-text {
    margin-left: 15px;
  }
  .top-bar .top-bar-right {
    width: 100%;
  }
  .top-bar .menu > li .button {
    background: #f9bd41;
    color: #fff;
    text-align: left;
  }

  .top-bar .menu > li a{
    padding-left: 0px;
  }

  .top-bar .menu > li{
    display: initial;
  }

  .size-resp{
    min-height: 65px;
  }

  .go-bot{
    position: relative;
    bottom: 1px;
  }

  .menu-icon{
    margin-right: 15px;
  }

  div #section_help p, .help-proposal ul {
    font-size: 14px;
  }

  div #section_help p.lead{
    font-size: 20px;
  }

  .margin-left-10{
    margin-left: 25px;
  }

  .border-green{
    border: 2px solid #51cf91;
    border-right: 0px;
    color: #51cf91;
    padding: 12px;
    width: 42%;
    position: absolute;
  }

  .ball-green{
    border: 2px solid #51cf91;
    background-color: #51cf91;
    color: #51cf91;
    padding: 22px;
    border-radius: 45px;
    top: 0px;
    right: 30px;
    position: relative;
    z-index: 1000;
  }

  .border-green h4{
    margin-bottom: 0;
    font-size: 16px;
  }

  .border-pink{
    border: 2px solid #f88fc2;
    border-right: 0px;
    color: #f88fc2;
    padding: 12px;
    width: 42%;
    position: absolute;
    margin-bottom: 0px;
  }

  .border-pink h4{
    margin-bottom: 0;
    font-size: 16px;
  }

  .ball-pink{
    border: 2px solid #f88fc2;
    background-color: #f88fc2;
    color: #f88fc2;
    padding: 22px;
    border-radius: 45px;
    top: 0px;
    right: 30px;
    position: relative;
    z-index: 1000;
  }

  .border-red{
    border: 2px solid #f46a7a;
    border-right: 0px;
    color: #f46a7a;
    padding: 12px;
    width: 42%;
    position: absolute;
    margin-bottom: 20px;
  }

  .border-red h4{
    margin-bottom: 0;
    font-size: 16px;
  }

  .margin-left-20-lg h4{
    font-size: 16px;
  }

  .margin-left-20-lg {
    margin-top: 0px;
    margin-bottom: 0;
  }

  .margin-vote-help{
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .ball-red{
    border: 2px solid #f46a7a;
    background-color: #f46a7a;
    color: #f46a7a;
    padding: 22px;
    border-radius: 45px;
    top: 0px;
    right: 30px;
    position: relative;
    z-index: 1000;
  }

  .border-yellow{
    border: 2px solid #fabf40;
    border-right: 0px;
    color: #fabf40;
    padding: 12px;
    width: 42%;
    position: absolute;
    margin-bottom: 20px;
  }

  .border-yellow h4{
    margin-bottom: 0;
    font-size: 16px
  }

  .ball-yellow{
    border: 2px solid #fabf40;
    background-color: #fabf40;
    color: #fabf40;
    padding: 22px;
    border-radius: 45px;
    top: 0px;
    right: 30px;
    position: relative;
    z-index: 1000;
  }

  .div-border{
    border-right: 3px solid #000;height:300px;
    position: relative;
    top: -390px;
    z-index: 10;
    left: -72px;
  }

  .padding-votes{
    padding: 11px;
  }
}

@media (max-width: 1440px) {
  .bottom-left-triangle {
    border-width: 45px 0 0 165px;
  }

  .bottom-right-triangle {
    border-width: 0 0 45px 143px;
  }

  .iduru-color tr {
    height: 37px;
  }

  .iduru-color {
    width: 318px;
  }
}

@media (max-width: 1024px) {
  .margin-left-40-user {
    margin-left: 65px;
  }

  .margin-text-login {
    margin-top: 15px;
    padding-left: 35px;
  }

  .margin-text-account {
    margin-top: 15px;
    margin-left: 20px;
  }

  .bottom-right-triangle {
    border-width: 0 0 45px 113px;
  }

  .padding-tw {
    padding-right: 23px;
    padding-left: 0;
  }
}

@media (max-width: 768px) {

  .iduru-color tr {
    height: 40px;
  }

  .title-video {
    font-size: 16px !important;
  }

  .collaboration-spaces h3 {
    font-size: 12px;
  }

  div.modal-poll-size {
    width: 600px;
    max-width: 75rem;
  }

  .margin-left-sn {
    padding-right: 0;
    margin-left: 10px;
  }

  .custom-social-networks {
    width: 21%;
    padding: 0;
  }

  .custom-figure {
    margin: 0;
    margin-top: 15px;
  }

  .municipality-content {
    padding-left: 22px;
  }

  .media-margin-top-15 {
    margin-top: 15px;
  }

  .media-padding-left-6 {
    padding-left: 6px;
  }

  .padding-top-30 {
    padding-top: 50px;
  }

  .width-footer {
    width: 84%;
  }

  .custom-medium {
    font-size: 14px;
    padding: 0;
    text-align: center;
  }

  .footer-sections {
    width: 98%;
    margin-left: 0 !important;
  }

  .width-policy-footer {
    width: 98%;
  }

  .float-image {
    float: left;
  }

  .width-policy-footer {
    width: 89%;
  }

  .medium-center {
    margin-left: 0;
  }

  .font-size-policy {
    font-size: 13px;
  }

  .margin-text-login {
    margin-top: 15px;
    padding-left: 10px;
  }

  .margin-text-account {
    margin-top: 15px;
    padding-left: 10px;
  }

  .bottom-left-triangle {
    border-width: 45px 0 0 108px;
  }

  .bottom-right-triangle {
    border-width: 0 0 45px 91px;
  }

  .margin-left-40-user {
    margin-left: 40px;
  }

  .without-padding-left {
    padding-left: 0;
  }

  .font-size-user-div-2 {
    font-size: 17px;
  }

  .margin-text-user-div-2 {
    margin-top: 50px;
    margin-left: 70px;
  }

  .padding-top-2p {
    padding-top: 4%;
  }

  .margin-offset-1 {
    margin-left: 7.333333%;
  }

  .padding-ideas-div-1 {
    padding-top: 6%;
  }

  .image-ideas-cycle {
    margin-left: 37%;
    margin-top: 17%;
    width: 48%;
  }

  .width-log-768 {
    width: 11%;
  }

  .margin-date-1 {
    margin-top: 20px;
  }

  .style-768-ago {
    margin-right: 0;
    padding-left: 39px;
  }

  .iduru-color{
    font-size: 16px;
    padding-right: 10px;
    width: 95%;
  }

  .padding-tw {
    padding: 0;
    margin-left: 4px;
  }
}

@media (min-width: 100px) and (max-width: 639px) {
  .collaboration-spaces h3 {
    font-size: 24px;
  }

  .text-start{
    margin-top: 7px;
  }

  #proposals-list .proposal .with-special{
    width: 100%;
  }

  #proposals-list .proposal .div-votes .proposal-approve{
    min-height: initial;
  }

  .padding-all-modal-content{
    padding: 10px;
    padding-top: 30px;
  }

  .close-button{
    color: #fff;
    margin-top: 18px;
    margin-right: 10px;
    font-size: 22px;
  }

  .medium{
    width: 90%;
    margin-left: 5%;
  }

  .modal-header{
    color: #fff;
    background: #f9bd41;
  }

  .iframe-size {
    width: 240px;
    height: 180px;
  }

  .margin-left-40{
    margin-left:10px;
  }

  .box-text {
    width: 90%;
    top: -7%;
  }

  .margin-top-3{
   margin-top: 7px;
  }

  .banner-title{
    margin-top: 10%;
    font-size: 20px;
  }

  .no-bullet{
    margin-top: 0px;
  }

  .margin-left-small {
    margin-left: 10%;
  }

  .margin-bot-small{
    margin-bottom: 20px;
  }

  .margin-top-small{
    margin-top: 30px;
  }

  .medium-footer {
    width: 100%;
  }

  .medium-center {
    margin-left: 10%;
  }

  .margin-left-form {
    margin-left: 27%;
  }

  .small-search{
    width: 90vw;
  }

  .margin-left-30{
    margin-left: 0px;
  }

  .total-votes {
    margin-right: 0%;
    padding: 3px 15px;
  }

  form .checkbox, form .radio {
    width: 80%;
  }
}

@media (min-width: 411px) and (max-width: 424px) {

  .bottom-right-triangle {
    border-width: 0px 0 45px 102px !important;
  }

  .text-style-tw {
    font-size: 12px;
  }

  .text-style-fb {
    font-size: 12px;
  }

  .padding-left-fb-3 {
    padding-left: 4px;
  }

}

@media (max-width: 425px) {
  .featured-proposals .proposal-featured {
    min-height: 160px;
  }

  .iduru{
    position: absolute;
    margin-top: -31px;
  }

  .iduru-color{
    font-size: 13px;
    padding-right: 0;
  }

  div.modal-poll-size {
    width: 90%;
    margin-left: 5%;
    height: 80%;
    min-height: 80%;
    margin-top: 40px;
  }

  div.padding-all-modal-content-vote {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
  }

  div.list-selected-vote {
    padding: 15px;
    font-size: 14px;
  }

  p.padding-top-5 {
    font-size: 14px;
    margin-bottom: 0;
  }

  .button-vote-modal {
    font-size: 14px;
  }

  .link-clean-poll {
    font-size: 14px;
  }

  a.link-vote-up {
    padding: 2px 19px;
    font-size: 10px;
  }

  div.button-vote {
    padding: 10px;
  }

  .margin-left-sn {
    margin-left: 0;
  }

  .custom-social-networks {
    width: 100%;
    padding: 0;
  }

  div.custom-social-networks {
    width: 60%;
    padding: 0;
    margin-left: 86px;
  }

  .without-padding-right {
    padding-right: 0;
  }

  .width-footer {
    width: 89%;
  }

  .custom-small {
    margin-top: 0;
    width: 50%;
    margin-left: 25%;
  }

  .float-image {
    float: none !important;
  }

  .without-marging-left {
    margin-left: 0 !important;
  }

  .padding-small {
    padding: 10px 0;
  }

  .font-size-policy {
    font-size: 12px;
    text-align: center;
  }

  .margin-table-left-user {
    padding-right: 0;
    margin-left: 0;
    padding-left: 10px;
  }

  .margin-table-right-user {
    padding-right: 0;
    margin-left: 0;
  }

  .font-size-30 {
    font-size: 24px;
  }

  .height-div-user-mob-1 {
    height: 171px;
  }

  .account-div-user-mob-1 {
    height: 110px;
  }

  .font-size-user-div-2 {
    color: #fff;
    font-size: 16px;
  }

  .margin-text-login {
    padding-left: 15px;
    margin-top: 32px;
  }

  .margin-text-account {
    padding-left: 15px;
  }

  .margin-top-38 {
    margin-top: 33px;
  }

  .padding-left-20 {
    padding-left: 20px;
  }

  .margin-left-line-login-20 {
    margin-left: 20px;
  }

  .iduru-color {
    width: 100%
  }

  .width-row-triangle {
    width: 150px;
    padding-left: 9px;
  }

  .padding-tw {
    padding: 0;
    margin-left: 4px;
  }

  .height-div-user-mob-2 {
    height: 517px;
    padding-right: 10px;
  }

  .bottom-right-triangle {
    border-width: 0 0 45px 109px;
  }

  .bottom-left-triangle {
    border-width: 45px 0 0 109px;
  }

  .padding-square {
    padding-left: 20px;
  }

  .padding-ideas-div-1 {
    padding-left: 16px;
    padding-top: 30px;
    padding-right: 24px;
  }

  .font-style-dates-ideas {
    font-size: 15px;
  }

  .font-size-text-2-ideas {
    font-size: 12px;
  }

  .font-size-d1 {
    font-size: 26px;
  }

  .font-style-text-dates-ideas {
    font-size: 14px;
  }

  .margin-top-mobile {
    margin-top: 42px;
  }

  .margin-right-mob {
    margin-right: 5px;
  }

  .float-mobile-date {
    float: right;
    padding-right: 4px;
  }

  .float-mobile-text {
    float: right;
    padding-left: 0;
    text-align: right;
    padding-right: 32px;
  }

  .font-size-text-2-ideas {
    font-size: 14px;
  }

  .custom-margin-left {
    margin-left: 28%;
  }

  .height-div-idea-mob {
    height: 360px !important;
  }

  .height-div-idea-2 {
    height: 6%;
  }

  .footer, .push {
    min-height: 2rem;
  }

  .style-set-mob {
    margin-top: 42px;
    padding-left: 16px;
    float: right !important;
  }

  .image-ideas-cycle {
    margin-left: 61px;
    margin-top: 212px;
    width: 60%;
  }

  .style-octuber-mob {
    margin-top: -29px;
    padding-left: 12px;
  }

  .height-div-idea {
    height: 143px;
  }

  .container-height {
    height: 751px;
  }

  .iduru-color tr {
    height: 39px;
  }
}

@media (min-width: 100px) and (max-width: 375px) {

  .iduru{
    position: absolute;
    margin-top: -40px;
  }
  .text-start{
    margin-top: 0;
  }
  .ball-green{
    right: 16px;
  }

  .ball-pink{
    right: 16px;
  }

  .ball-red{
    right: 16px;
  }

  .ball-yellow{
    right: 16px;
  }

  .border-yellow{
    width: 45%;
  }

  .border-red{
    width: 45%;
  }

  .border-pink{
    width: 45%;
  }

  .border-green{
    width: 45%;
  }

  .div-border{
    border-right: 3px solid #000;height:300px;
    position: relative;
    top: -387px;
    z-index: 10;
    left: -52px;
  }

  .margin-left-30{
    margin-left: 5px;
  }

 .margin-left-form {
    margin-left: 23%;
  }

  .box-text {
    top: -15%;
    width: 95%;
    margin-left: 10px;
  }

  .margin-top-3{
   margin-top: 10px;
  }

  .total-votes {
    margin-right: 0%;
    padding: 0px 12px;
  }
  .debate .votes .icon-like, .debate .votes
  .icon-unlike, .debate-show .votes .icon-like,
  .debate-show .votes .icon-unlike,
  .proposal-show .votes .icon-like,
  .proposal-show .votes .icon-unlike,
  .legislation-proposals .votes .icon-like,
  .legislation-proposals .votes .icon-unlike{
    border-radius: 25rem;
    font-size: 1.9rem;
    padding: 0.455rem 0.455rem;
  }

  .margin-left-20{
    margin-left: 25px;
  }

  .margin-left-20-lg h4{
    font-size: 14px;
    padding-bottom: 14px;
  }


}

@media (min-width: 100px) and (max-width: 342px) {

  .margin-left-20-lg h4{
    font-size: 14px;
    padding-bottom: 5px;
  }

  .margin-vote-help h4{
    margin-left: 4px;
  }

  .search-glass{
    right: 0px;
  }

  .total-votes {
    float: right !important;
    padding: 0px 8px;
  }

  .medium-center {
    margin-left: 0%;
  }

  .box-text {
    top: -15%;
    width: 95%;
    margin-left: 10px;
  }

  .margin-top-3{
   margin-top: 2px;
  }

  .banner-title {
    font-size: 15px;
  }

  .margin-left-form {
    margin-left: 18%;
  }

  .debate .votes .icon-like, .debate .votes
  .icon-unlike, .debate-show .votes .icon-like,
  .debate-show .votes .icon-unlike,
  .proposal-show .votes .icon-like,
  .proposal-show .votes .icon-unlike,
  .legislation-proposals .votes .icon-like,
  .legislation-proposals .votes .icon-unlike{
    border-radius: 25rem;
    font-size: 1.9rem;
    padding: 0.355rem 0.355rem;
  }

  .ball-green{
    right: 2px;
    padding: 18px;
    width: 100%
  }

  .ball-pink{
    right: 2px;
    padding: 18px;
    width: 100%
  }

  .ball-red{
    right: 2px;
    padding: 18px;
    width: 100%
  }

  .ball-yellow{
    right: 2px;
    padding: 18px;
    width: 100%
  }

  .border-yellow{
    width: 51%;
  }

  .border-red{
    width: 51%;
  }

  .border-pink{
    width: 51%;
  }

  .border-green{
    width: 51%;
  }

  .div-border{
    border-right: 3px solid #000;height:280px;
    position: relative;
    top: -360px;
    z-index: 10;
    left: -24px;
  }

  .padding-votes{
    padding-bottom: 8px;
  }

   .border-pink h4{
    margin-bottom: 0;
    font-size: 14px;
  }

  .border-green h4{
    margin-bottom: 0;
    font-size: 14px;
  }

  .border-yellow h4{
    margin-bottom: 0;
    font-size: 14px;
  }

  .border-red h4{
    margin-bottom: 0;
    font-size: 14px;
  }

}

@media (min-width: 641px) and (max-width: 783px) {
  .featured-proposals .participation-not-allowed {
    width: 250%;
    margin-left: -150px;
  }

  .ball-green{
    right: 10px;
    width: 100%;
  }

  .ball-pink{
    right: 10px;
    width: 100%;
  }

  .ball-red{
    right: 10px;
    width: 100%;
  }

  .ball-yellow{
    right: 10px;
    width: 100%;
  }

  .border-yellow{
    width: 30%;
  }

  .border-red{
    width: 30%;
  }

  .border-pink{
    width: 30%;
  }

  .border-green{
    width: 30%;
  }

  .div-border{
    border-right: 3px solid #000;height:300px;
    position: relative;
    top: -387px;
    z-index: 10;
    left: -31px;
  }
}

@media (min-width: 784px) and (max-width: 1024px) {
  .featured-proposals .participation-not-allowed {
    width: 190%;
    margin-left: -130px;
  }

  .custom-social-networks {
    width: 26%;
    padding: 0;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {

  .collaboration-spaces h3 {
    font-size: 12px;
  }

  div.modal-poll-size {
    width: 600px;
    max-width: 75rem;
  }

  .medium-footer-img {
    width: 33%;
  }

  .footer-links {
    text-align: center;
    padding-left: 0px;
  }

  img.image-size {
    height: 23px;
  }

  .footer-sections {
    margin-left: 0 !important;
    width: 100%;
  }

  .custom-large-5-mun {
    padding-right: 0;
    width: 37%;
  }

  .image-municipality-area {
    width: 43%;
    float: right;
  }

  .without-padding-left {
    padding-left: 0;
  }

  .width-policy-footer {
    width: 78%;
  }

  .height-div-1-mob {
    height: 215px;
  }

  .height-div-idea-2 {
    height: 96px;
  }

  .custom-width-1024 {
    width: 41%;
  }

  .image-ideas-cycle {
    margin-left: 40%;
    margin-top: 11%;
  }

  .height-div-idea-mob {
    height: 215px;
  }

  .padding-top-2p {
    padding-top: 3%;
  }

  .margin-right-10p {
    margin-right: 11px;
  }

  .iduru-color {
    width: 102%;
  }

  .style-tablet-set {
    margin-top: -25px;
    margin-left: 40px;
  }

  .iframe-size {
    width: 220px;
    height: 220px;
  }

  .container-height {
    height: 729px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {

  .height-div-idea {
    height: 179px;
  }

  .text-align-768 {
    text-align: right;
  }

  .margin-top-32 {
    margin-top: 16px;
    width: 13%;
    margin-left: 28% !important;
  }

  .style-tablet-set {
    margin-top: -46px;
    margin-left: 17px;
    padding-left: 69px;
  }

  .margin-left57-tablet {
    margin-left: -57px !important;
  }

  .iframe-size {
    width: 180px;
    height: 180px;
  }

  .height-div-idea-2 {
    height: 131px;
  }

  .container-height {
    height: 822px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .collaboration-spaces h3 {
    font-size: 18px;
  }
}

@media (min-width: 1025px) and (max-width: 2560px) {
  .featured-proposals .participation-not-allowed {
    width: 160%;
    margin-left: -100px;
  }

  .custom-large-5-mun {
    padding-right: 0;
    width: 37%;
  }

  .image-municipality-area {
    width: 43%;
    float: right;
  }

  .without-padding-left {
    padding-left: 0;
  }

  .container-height {
    height: 906px;
  }

  .width-tablet-l-45 {
    width: 45%;
  }

  .style-tablet-set {
    margin-top: -144px;
  }

}

@media (min-width: 1025px) and (max-width: 1440px) {
  .padding-left-60-laptop-l {
    padding-left: 60px;
  }

  .padding-left-176-laptop-l {
    padding-left: 176px;
  }
}

@media (min-width: 1500px) and (max-width: 1600px) {

  .padding-text-div-2-signin {
    padding-left: 214px !important;
  }

  .padding-left-176-laptop-l {
    padding-left: 207px !important;
  }

  .iduru-color tr {
    height: 37px !important;
  }
}

@media (min-width: 1601px) and (max-width: 1900px) {
  .padding-text-div-2-signin {
    padding-left: 381px !important;
  }

  .padding-left-176-laptop-l {
    padding-left: 364px !important;
  }

  .iduru-color tr {
    height: 37px;
  }
}

@media (min-width: 1441px) and (max-width: 2560px) {
  .height-div-signin {
    height: 205px;
  }

  .width-laptop-k {
    width: 200px;
    float: left !important;
  }

  .max-width-laptop-k {
    max-width: 107rem;
  }

  .padding-right7-laptop-k {
    padding-right: 7%;
  }

  .margin-top-video-laptopk {
    margin-top: 20px;
  }

  .padding-ideas-div-1 {
    padding-left: 0px;
    padding-top: 73px;
  }

  .custom-width-1024 {
    width: 36%;
  }

  .margin-date-1 {
    margin-right: 5%;
  }

  .image-ideas-cycle {
    margin-top: 154px;
    width: 538px;
  }

  .height-div-idea {
    height: 238px;
  }

  .style-tablet-set {
    margin-top: -88px;
    margin-left: 60px;
  }

  .margin-right-10p {
    margin-right: 60px;
  }

  .padding-text-div-2-signin {
    padding-left: 174px;
  }

  .margin-left-40-user {
    margin-left: 10px;
  }

  .padding-left-176-laptop-l {
    padding-left: 161px;
  }

  .bottom-right-triangle {
    border-width: 0 0 45px 140px;
  }

  .bottom-left-triangle {
    border-width: 45px 0 0 156px;
  }

  .iduru-color {
    width: 316px;
  }

  .iduru-color tr {
    height: 38px;
  }
}

@media (min-width: 2560px){
  .margin-left-290 {
    margin-left: 290px;
  }

  .margin-right-10p {
    margin-right: 130px;
  }

  .style-tablet-set {
    margin-top: -88px;
    margin-left: -40px;
  }

  .padding-left-60-laptop-l {
    padding-left: 609px;
  }

  .height-div-square {
    height: 22px;
  }

  .bottom-right-triangle {
    border-width: 0 0 45px 145px;
  }

  .height-div-signin {
    height: 265px;
  }

  .padding-text-div-2-signin {
    padding-left: 130px !important;
    padding-top: 50px;
  }

  .padding-left-176-laptop-l {
    padding-left: 724px !important;
  }

  .iduru-color {
    width: 47%;
  }
}

@media (max-width: 375px) {
  .font-size-30 {
    font-size: 21px;
  }

  .margin-table-left-user {
    padding-left: 10px;
  }

  .bottom-left-triangle {
    border-width: 45px 0 0 80px;
  }

  .bottom-right-triangle {
    border-width: 0 0 45px 72px;
  }

  .text-style-tw {
    font-size: 9px;
  }

  .text-style-fb {
    font-size: 9px;
  }

  .padding-left-fb-3 {
    padding-left: 0px;
  }

  .width-google-img {
    width: 22px;
    padding: 0;
  }

  .font-size-27 {
    font-size: 19px;
  }

  .text-style-agesic {
    font-size: 9px;
  }

  .width-row-triangle {
    width: 172px;
    padding-left: 9px;
  }

  .height-div-user-mob-2 {
    height: 562px;
    padding-right: 10px;
  }

  .font-size-text-2-ideas {
    font-size: 11px;
  }

  .font-size-d1 {
    font-size: 25px;
  }

  .image-ideas-cycle {
    margin-left: 63px;
    margin-top: 216px;
  }

  .height-div-idea-mob {
    height: 339px;
  }

  .custom-margin-left {
    margin-left: 33%;
  }

  .font-style-dates-ideas {
    font-size: 12px;
  }

  .font-style-text-dates-ideas {
    font-size: 12px;
  }

  .margin-top-mobile {
    margin-top: 18px;
  }

  .float-mobile-text {
    float: right;
    padding-left: 0px;
    text-align: justify;
    padding-right: 15px;
  }

  .style-octuber-mob {
    margin-top: -23px;
  }

  .text-style-ag-mob {
    text-align: right;
    margin-bottom: 0;
  }

  .padding-left-11 {
    padding-left: 11px;
  }

  .padding-left-3 {
    padding-left: 3px;
  }

  .margin-right-mob {
    margin-right: 5px;
    margin-top: 16px;
  }

  .iduru-color tr {
    height: 40px;
  }

  .padding-tw {
    padding: 0;
    margin-left: 0px;
  }

}

@media (max-width: 325px) {
  div.custom-social-networks {
    margin-left: 65px;
  }

  .custom-small {
    width: 61%;
    margin-left: 21%;
  }

  .font-size-30 {
    font-size: 17px;
  }

  .margin-table-left-user {
    padding-left: 14px;
  }

  .width-row-triangle {
    width: 150px;
    padding-left: 9px;
  }

  .bottom-left-triangle {
    border-width: 45px 0 0 70px;
  }

  .bottom-right-triangle {
    border-width: 0 0 45px 61px;
  }

  .image-ideas-cycle {
    margin-left: 52px;
    margin-top: 217px;
  }

  .margin-right-mob {
    margin-top: 0;
  }

}
