// General

.debate .votes .icon-like, .debate .votes
.icon-unlike, .debate-show .votes .icon-like,
.debate-show .votes .icon-unlike,
.proposal-show .votes .icon-like,
.proposal-show .votes .icon-unlike,
.legislation-proposals .votes .icon-like,
.legislation-proposals .votes .icon-unlike{
  border-radius: 25rem;
  font-size: 2.9rem;
  padding: 0.555rem 0.555rem;
}

.delete {
  border: none;
}

.center-mid{
  margin-right: auto;
  margin-left: auto;
}

.base-color{
  color: #f9bd41;
}

.menu.simple li.active {
  border-bottom: 2px solid #f9bd41;
}

.no-bullet{
  margin-top: 0px;
}

div .debate-content ul li a{
  border-radius: 0;
  background: #9e9e9e;
  color: #fff;
}

.icon-x::before {
  content: '\76';
  color: red;
}

.comment-body .comment-user.is-author,
.comment-body .comment-user.is-admin,
.comment-body .comment-user.is-moderator {
  background: #fabd4059 !important;
  color: black !important;
}

ul.no-bullet.tags li a{
  border-radius: 0;
  background: #9e9e9e;
  color: #fff;
}

div .debate-content ul li a:hover{
  background: #9e9e9e;
  color: #fff;
}

h3 a:hover{
  color: #f9bd41;
}

.disable{
  background: #f9bd41;
}

div #tag-cloud ul li a{
  border-radius: 0;
  background: #9e9e9e;
  color: #fff;
}

.policy:hover{
  color: #fff;
}

.highlight{
  background: #fff;
}

.lead {
  color: #f9bd41;
}

.bg-policy{
  background-color: black;
  color: #fff;
  padding: 8px 0px;
  margin-top: 8px;
}

.sidebar-title {
  color: #f9bd41;
  border-top: 2px solid #f9bd41;
}

.total-votes{
  color: #fff;
  background: #f9bd41;
}

.debate .votes, .debate-show .votes,
.proposal-show .votes, .legislation-proposals .votes {
  border-left: 0px;
}

.featured-title-proposal {

  margin-bottom: 10px;
  padding: 0;
}

.featured-proposals{
  background-color: #fff;
}

.proposal-featured{
  background-color: #f9bd41;
  padding-top: 16px;
  margin-bottom: 16px;
}

.featured-proposals .supports .button-support{
  background: #fff;
  font-weight: 900;
}

.featured-proposals .supports .button-support:hover {
  background: #fff !important;
  color: #ffdc5c;
}

.proposal .panel h3 a {
  color: #f9bd41;
}

.featured-proposals h3 a:hover {
  color: #222;
}

.proposal .panel .row {
  margin-bottom: 10px;
}

.help-proposal {
  padding-top: 30px;
}

p.help-questions {
  color: #f9bd41;
}

.featured-proposals .proposal-featured {
  min-height: 7.25rem;
}

.proposal-show h1{
  color: #f9bd41;
}

.help-proposal ul {
  margin-left: 30px;
}

.documents .document-link, .proposal-show .video-link, .proposal-show .document-link, .proposal-document{
  background-color: #d7d7d7;
  border: 1px solid #d7d7d7;
  border-radius: 0;
}

.proposal-document {
  margin: 0.75rem 0;
  padding: 0.75rem;
}

.proposal-document a, .video-link a{
  color: #222;
}

.proposal-show .proposal-info .author a {
  color: #515151 !important;
  font-weight: 400;
}

.proposal-show aside h2 {
  border-top: 2px solid #f9bd41;
  color: #f9bd41;
}

.proposal-state-data {
  background-color: #f2f2f2;
  padding: 10px;

  p {
    margin-bottom: 1px;
  }
}

.proposal-show {

  figure {
    margin: 0;
  }

  .image-preview{
    padding-left: 0;
  }
}



.tabs .tabs-title > a[aria-selected='true'], .tabs .tabs-title > a.is-active {
  color: #515151;
  border-bottom: 2px solid #f9bd41;
}

.debate .panel, .proposal .panel, .investment-project .panel, .budget-investment .panel, .legislation .panel, .communities-show .panel {
  background: #fff;
  border: 0;
  border-bottom: 3px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 0;
  box-shadow: 0 0px 0px 0 #dee0e3;
  margin-bottom: 0.75rem;
  min-height: 12rem;
  padding: 1rem 1rem 0;
}
.wrapper {
  background: #fff;
}

.min-height{
  min-height: 250px;
}

.legislation-calendar {
  background: #efefef;
}

.top-links {
  display: none;
}
.external-links{
  display: none;
}

.banner-style-one {
  background-color: #f9bd40;
}

.banner-style-two {
  background-color: #f08480;
}

.banner-style-three {
  background-color: #66ba8d;
}

header {
  background-color: #f9bd41;
}

.more-info-content h3, .communities-show h3 {
  color: #f9bd41;
}

.radius{
  border-radius: 45px;
}
.banner-15{
  margin-top: -15px;
}

.thin{
  padding: 0.35em 1em;
}

.padding-70{
  padding: 0.35em 90px;
}

.padding-60{
  padding: 0.35em 80px;
}

.top-bar {
  background-color: #f9bd41 !important;
  padding: 0.5rem;
}

.subnavigation {
  background-color: #face7a !important;
}

.subnavigation a.active {
    border-bottom: 0px solid #00b4d2;
    color: #000;
}


.footer-bg {
  background-color: #929497;
  min-height: 150px;
}

.gray-bg {
  background-color: #929497;
}

.base-bg {
  background-color: #f9bd41;
  color: #fff;
}

.color-base {
  color: #f9bd41;
}

.black-color {
  color: #000;
  font-size: 1.5rem;
}

.button.hollow:hover {
  background: #f9bd41;
  color: #fff !important;
  border: 0px solid;
}

.button:hover {
  background: #f9bd41 !important;
}

.button {
  background: #f9bd41;
  font-size: 1.0625rem;
  border-radius: 0rem;
}

.legislation-calendar{
  background: #f9bd41;
  color: #fff !important;
}

div.legislation-calendar div h5,
div.legislation-calendar div p {
  color: #fff !important;
}

.legislation-text h3 a{
  color: #f9bd41;
}

.legislation-calendar-info p{
  color: #f9bd41;
}

p.base-color {
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.box {
  position:relative;
  padding-bottom: 1rem;
}

.box-text {
  position:absolute;
  top: 61%;
  width: 90%;
  color: #fff;
  text-align: left;
  line-height: 0.6;
}

.text-left{
  text-align: left;
}

.padding {
  padding-bottom: 2.5rem;
  padding-top: 0rem;
}

.margin {
  margin-bottom: 2.5rem;
  margin-top: 0rem;
}

.btn-grey{
  background: #fff;
  color: #777;
  border: 1px solid #515151;
}

.legislation {
  border: 0px solid;
  box-shadow: 0 0px 0px 0 #dee0e3;
}

.button.hollow {
  background: #f9bd41;
  color: #fff !important;
  border: 0px solid;
  margin-top: 2px;
  margin-bottom: 2px;
}

.button:hover {
  background: #facf79;
}

.debate .panel h3 a{
  color: #f9bd41;
}

.submenu .active {
  color: #f9bd41;
  border-bottom: 2px solid #f9bd41;
}

#filter-subnav li.active{
  color: #f9bd41;
  border-bottom: 2px solid #f9bd41;
}

a {
  color: #f9bd41;
}

.debate-questions .quiz-header h4 a {
  color: #f9bd41;
}

.debate-questions .quiz-header .quiz-next {
  color: #f9bd41;
}

.is-author {
  background: #f9bd41;
  color: #fff;
  border-radius: 0rem;
}

a.back, .icon-angle-left {
  clear: both;
  color: #515151;
  float: none;
}

.grey-heading {
  background: #fabd401f;
}

.debate-chooser .debate-block .debate-title a {
  color: #f9bd41;
}

.debate-chooser .debate-block .debate-type {
  color: #f9bd41;
}

.debate-chooser .debate-block .debate-type .icon-debates {
  color: #fff;
}

.base-color {
  color: #f9bd41;
}

.padding-10{
  padding-top: 10px;
}

.White-bg {
  background-color: #fff;
  border-color: #fff;
  padding-left: 10px
}

.footer, .push {
  clear: both;
  min-height: 4rem;
}

.footer {
  clear: both;
  min-height: 7rem !important;
  margin-top: 1rem !important;
}

.footer-sections {
  padding-top: 3% !important;
  color: #fff;
}

.p-small {
    font-size: 0.8625rem;
    font-weight: 400;
    line-height: 1rem;
    margin-bottom: 0rem;
    width: 88%;
    float: right;
}

.negativ-margin{
  margin-left: -0.9rem;
}

.footer {
  background: #fff;
  border-top: 0px;
  margin-top: 3rem;
  padding-top: 1.5rem;
}

footer a {
  color: #fff;
}

.icon-check{
  margin-right: 0px;
}

.margin-top-10{
  margin-top: 10px;
  padding-right: 15px;
}

.margin-top-20{
  margin-top: 20px;
  padding-right: 15px;
}

.footer-links{
  text-align: center;
}

.footer-last{
  margin-bottom: 25px;
}

.margin-left-30{
  margin-left: 75px;
}

.margin-left-20{
  margin-left: 55px;
}

.margin-left-form{
  margin-left: 55px;
}

.margin-left-20px{
  margin-left: 20px;
}

.margin-left-10{
  margin-left: 0px;
}

.group-title div p {
  width: 89%;
  float: right;
  margin-top: -10px;
}

#barra_vertical {
  margin-top: 40px;
  float:left;
  border-left: 1px solid #fff;
  width:1px;
  height:100px;
}

#barra_vertical-r {
  margin-left: 30px;
  margin-right: 30px;
  border-left: 1px solid #fff;
  float:left;
  width:1px;
  height:100px;
}

.medium-footer {
  width: 25%;
}

.medium-footer-div {
  width: 66.66667%;
}

.medium-footer-img {
  width: 29%;
}

.subnavigation ul li {
  margin-right: 1.95rem;
}

#nav-bar-flex{
  display: inline;
}

.flex-1{
  flex: 1;
}

.flex-2{
  flex: 2;
}

.flex-3{
  flex: 3;
}

.flex-4{
  flex: 4;
}

.flex-5{
  flex: 5;
}

.callout.primary a {
  color: #222;
}

h2 {
  clear: right;
}
.banner-font{
  font-size: 16px;
  line-height: 1.625rem;
  display: grid;
}

.banner-title{
  font-size: 34px;
  line-height: 0.6;
}

.avatar-title{
  font-size: 44px;
  background: #f9bd41;
  color: white;
  padding: 5px 35px;
  border-radius: 65px;
}

.avatar-mini{
  font-size: 18px;
  color: white;
  padding: 5px 16px;
  border-radius: 65px;
}

.search-nav-background {
  background-color: #666666 !important;
}

.search-nav{
  border-radius: 0px !important;
  border: 4px solid white !important;
  position: relative !important;
  box-shadow: inset 0 0px 0px rgba(34, 34, 34, 0.1);
}

.search-nav:active, .search-nav:hover, .search-nav:focus, .search-nav:visited {
  background-color: #fff !important;
  color: black;
  border-radius: 0px !important;
  border: 4px solid white !important;
  position: relative !important;
  box-shadow: inset 0 0pfx 0px rgba(34, 34, 34, 0.1);
}

.search-header{
}

.search-glass{
  position: absolute;
  margin-top: 0px;
  padding: 6px;
  background-color: #fff;
  margin-left: -2px;
}

.search-form-header{
  margin-left: -4px;
}

.search-form-header [type=text]::placeholder{
}

.h1-wellcome{
  font-size: 44px;
}

.p-wellcome{
  font-size: 24px;
  line-height: 2.225rem;
  text-align : justify;
}

.top-bar .top-bar-right {
  width: auto;
}

.size-resp{
  min-height: 465px;
  position: relative;
}

.go-bot{
  position: absolute;
  bottom: 1px;
}

a:focus {
  outline: 0px solid #ffbf47;
}

.subnavigation a:hover {
     color: #000;
}

.callout.primary {
  background-color: #f9bd41;
  border-color: #facf79;
  color: #222;
}

.bg-avatar-1 {
  background: #f9bd41;
  color: white;
  padding: 15px 23px;
  border-radius: 35px;
}

.bg-avatar-2 {
  background: red;
  color: white;
  padding: 15px 23px;
  border-radius: 35px;
}

.callout{
  border-radius: 0px;
  padding: 0.6rem;
}

.debates-profile a{
  color: #000;
}

.bell{
  margin-right: 0.6rem;
}

.noti-container{
  margin-left: 10%;
  margin-right: 10%;
  height: 35vh;
}

.controls-stacked{
  display: inline-grid;
}

.debate-questions .debate-questions .control {
  background: #fff;
  border: 0px solid;
  border-radius: 0.25rem;
  color: #555;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0.75rem;
  margin-left: 1.5rem;
  padding: 0rem 0rem;
  position: relative;
}

.debate-questions .debate-questions .control-indicator {
  position: relative;
  top: 0.5rem;
  left: 0.95rem;
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 65%;
  text-align: center;
  border: 2px solid #000;
  pointer-events: none;
  float: right;
  user-select: none;
}

.debate-questions .debate-questions .control input {
  position: relative;
  opacity: 100;
  z-index: 0;
  float: right;
  margin-left: 40px;
}

 .button:focus {
  background-color: #f9bd41;
  color: #fff;
}

.menu{
  float: none;
  padding-right: 0px;
}

.debate-questions .debate-questions .active > .control-indicator {
  background: #44b6d3;
  border: 0px;
}

label > [type='checkbox'], label > [type='radio'] {
  margin-right: 0.5rem;
}

.debate-questions .quiz-header .quiz-title {
  background: #fabd4059;
}

.debate-questions .quiz-header .quiz-next {
  background: #fabd401f;
}

.debate-questions .quiz-header .quiz-next:active, .debate-questions .quiz-header .quiz-next:hover  {
  background: #fabd401f;
  color: #f9bd41;
  cursor: pointer;
}
input.button.disabled {
  background-color: #f9bd41;
  opacity: 1;
}

.user-direct-message{
  position: relative;
}

.margin-help-link a{
  margin: 0 0 10px 10px;
}

.buttom-comments-debates {
  width: 100%;
}

.margin-top-25{
  margin-top: 25px;
}

.margin-top-40{
  margin-top: 40px;
}

.padding-votes{
  padding: 13px;
}

.margin-top-50{
  margin-top: 50px;
}

.margin-left-20-lg{
  margin-left: 60px;
}

.margin-bot-20{
  margin-bottom: 20px;
}

.border-green{
  border: 2px solid #51cf91;
  border-right: 0px;
  color: #51cf91;
  padding: 10px;
  width: 23%;
  position: absolute;
}

.ball-green{
  border: 2px solid #51cf91;
  background-color: #51cf91;
  color: #51cf91;
  padding: 30px;
  border-radius: 60px;
  top: -3px;
  right: 38px;
  position: relative;
  z-index: 1000;
}

.border-pink{
  border: 2px solid #f88fc2;
  border-right: 0px;
  color: #f88fc2;
  padding: 10px;
  width: 23%;
  position: absolute;
  margin-bottom: 0px;
}

.ball-pink{
  border: 2px solid #f88fc2;
  background-color: #f88fc2;
  color: #f88fc2;
  padding: 30px;
  border-radius: 60px;
  top: -3px;
  right: 38px;
  position: relative;
  z-index: 1000;
}

.border-red{
  border: 2px solid #f46a7a;
  border-right: 0px;
  color: #f46a7a;
  padding: 10px;
  width: 23%;
  position: absolute;
  margin-bottom: 20px;
}

.ball-red{
  border: 2px solid #f46a7a;
  background-color: #f46a7a;
  color: #f46a7a;
  padding: 30px;
  border-radius: 45px;
  top: -3px;
  right: 38px;
  position: relative;
  z-index: 1000;
}

.border-yellow{
  border: 2px solid #fabf40;
  border-right: 0px;
  color: #fabf40;
  padding: 10px;
  width: 23%;
  position: absolute;
  margin-bottom: 20px;
}

.ball-yellow{
  border: 2px solid #fabf40;
  background-color: #fabf40;
  color: #fabf40;
  padding: 30px;
  border-radius: 45px;
  top: -3px;
  right: 38px;
  position: relative;
  z-index: 1000;
}

.div-border{
  border-right: 3px solid #000;height:380px;
  position: relative;
  top: -440px;
  z-index: 10;
  left: -85px;
}

.m-h{
  max-height: 500px;
}

.participation-not-allowed {
  padding: 0;
}

.margin-vote-help {
  margin-left: -13px !important;
}

.debate-form .recommendations li::before {
  color: #f9bd41;
}

.iframe-size{
  width: 560px;
  height:315px;
}

table tr td{
  text-align: center;
  padding: 0.4rem 0.375rem;
}

table {
  border: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-right: 1px solid #000;
}

.border-top-table-user{
  border-top: 10px solid #f9bd41;
}

.border-bot-table-user{
  border-bottom: 10px solid #f9bd41;
}

.border-left-table-user{
  border-left: 5px solid #f9bd41;
}

thead, tbody, tfoot {
  border: 0;
  background-color: #fff;
}

td{
    border-right: 1px solid #000;
}

.user-number{
  background-color: #f9bd41;
  color: #fff;
  width: 15px;
  margin-bottom: 4px;
}

.tr-w{
  background-color: #fff !important;
}

.tr-light-gray{
  background-color: #f0f1f1 !important;
}

.tr-dark-gray{
  background-color: #e5e6e7 !important;
}

.margin-bot-10{
  margin-bottom: 10px;
}

.table-bar{
  height: 10px;
  background-color: #fff;
}

.w-200{
  width: 40px;
}

.bg-iduruguay{
  background-color: #fef2d9 !important;
  border-right: 1px solid #fef2d9 !important;
}

.bg-twitter{
  background-color: #cceffc !important;
  border-left: 10px solid #00adee;
  padding: 8px;
  width: 98%;
}

.bg-facebook{
  background-color: #d4d3e0 !important;
  border-left: 10px solid #262262;
  padding: 8px;
  width: 98%;
}

.bg-google{
  background-color: #fbd2d3 !important;
  border-left: 10px solid #ec1c24;
  padding: 8px;
  width: 98%;
}

.no-border{
  border-left: 3px solid #fff !important;
}

.no-border-2{
  border-left: 3px solid #fff !important;
  border-right: 3px solid #fff !important;
}

.iduru{
  position: absolute;
  margin-top: -20px;
  width: 14%;
  clear: both;
  font-weight: 700;
}

.iduru-color{
  color: #58585a !important;
}

.padding-bot-0{
  padding-bottom: 0px;
}

.w-div {
  width: 10px;
  border-top: 10px solid #fff;
  position: absolute;
  margin-top: -31px;
  margin-left: 668px;
}

.bg-color-white {
  background-color: #fff;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.padding-left-10 {
  padding-left: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.only-padding-bot {
  padding: 0;
  padding-bottom: 10px;
}

.padding-vote-header
{
  padding: 25px;
}

.padding-all{
  padding: 20px;
}

.padding-all-modal-content{
  padding: 80px;
}

.padding-all-modal-content-vote{
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-top: 40px;
}

.without-margin-top{
  margin-top: unset !important;
}

.close-button{
  color: #fff;
  margin-top: 18px;
  margin-right: 30px;
  font-size: 22px;
}

.medium{
  width: 70%;
}

.modal-header{
  color: #fff;
  background: #f9bd41;
}

#registration_modal {
  border: none !important;
}

#registration_modal:focus {
  border: none !important;
  outline: none;
}

#registration_modal  .close-button:hover, #registration_modal  .close-button:focus {
  color: white;
}

.poll-question-answers .poll-question-answer-access .disabled {
  background-color: #face79;
  opacity: 0.55;
  color: #000 !important;
}

.without-margin-bottom {
  margin-bottom: 0;
}

.custom-line-height {
  line-height: 1.3rem;
}

.font-municipality {
  font-family: 'Ciudadela Pro Bold';
  font-size: 25px;
}

.without-padding-right {
  padding-right: 0;
}

.municipality-content {
  padding-left: 70px;
  padding-top: 50px;
}

.padding-top-30 {
  padding-top: 30px;
}
