// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

.wrapper {
  background: #fff;
}

.legislation-calendar {
  background: #efefef;
}

.top-links {
  display: none;
}
.external-links{
  display: none;
}

.banner-style-one {
  background-color: #f9bd40;
}

.banner-style-two {
  background-color: #f08480;
}

.banner-style-three {
  background-color: #66ba8d;
}

