<div class="reveal medium only-padding-bot" id="can-not-vote-modal" data-reveal>
  <div class="modal-header padding-all">
    <%= image_tag(image_path_for('icono-warning.png'), class: "float-center", size: "60") %>
  </div>
  <div class="padding-all-modal-content">
    <p>Ya a alcanzado el maximo de votos para esta votación,
    si desea puede cambiar sus votos deseleccionando alguna opción.</p><br>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    Cerrar
  </button>
</div>
