<div class="reveal medium only-padding-bot" id="registration_modal" data-reveal>
  <div class="modal-header padding-all">
    <%= image_tag(image_path_for('icono-warning.png'), class: "float-center", size: "60") %>
  </div>
  <div class="padding-all-modal-content">
    <h3 class="base-color">¿Qué es Usuario gub.uy?</h3>
    <p>Usuario gub.uy es el sistema de identificación digital de Uruguay, implementado por AGESIC. Permite centralizar cuentas de usuarios y facilitar el acceso web a los servicios digitales del Estado. Esto quiere decir que, una vez registrado en gub.uy, podrás ingresar a los servicios vinculados a la cuenta sin necesidad de nuevos registros ni contraseñas adicionales.</p><br>

    <h3 class="base-color">¿Qué puedo hacer con el Usuario gub.uy en Montevideo Decide?</h3>
    <p>El Usuario gub.uy corresponde al nivel 2 de acceso a la plataforma, con él podrás acceder a todas las funciones de los módulos de Debate, Ideas y Consultas Ciudadanas.</p><br>


    <h3 class="base-color">¿Cómo puedo crear mi Usuario gub.uy?</h3>
    <p>Para crear tu Usuario en gub.uy, podés ingresar aquí. El sistema te enviará un correo electrónico para que actives tu cuenta a la dirección de correo electrónico ingresada. Desde el mensaje recibido, hacé clic en 'Finalizar registro' y ya podrás empezar a usar tu cuenta para los trámites que te la soliciten.</p><br>

    <%= link_to 'Crear mi Usuario gub.uy', Setting["url_registration_saml"], title: "registrate", target: '_blank', class: "button float-center small-12 medium-8 margin-top-20" %>

  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    Cerrar
  </button>
</div>
