<div class="reveal modal-poll-size only-padding-bot" id="show-vote-modal" data-reveal>
  <div class="padding-vote-header modal-vote-header">
  </div>
  <div class="padding-all-modal-content-vote" id="show-vote-modal-info">
  </div>
</div>
