<div class="reveal medium only-padding-bot" id="show-error-vote-modal" data-reveal>
  <div class="modal-header padding-vote-header">
  </div>
  <div class="padding-all-modal-content-vote">
    <h3 class="base-color">Ya has participado en esta votación.</h3>
  </div>
  <button class="close-button without-margin-top" data-close aria-label="Close modal" type="button">
    Cerrar
  </button>
</div>
