<div class="reveal modal-poll-size only-padding-bot" id="vote-modal" data-reveal>
  <div class="modal-header padding-vote-header">
  </div>
  <div class="padding-all-modal-content-vote", id="vote-modal-content">
  </div>
</div>
